/** @format */
body {
  color: white;
  background: rgb(39, 39, 39);
}
.container {
  max-width: 100%;
  margin: 0, auto;
}
.arrow-icons {
  font-size: 20px;
}
.nav-buttons {
  border-radius: 20px;
}
.side-icons {
  font-size: 20px;
}
.spotify-icon {
  font-size: 35px;
}

/* .top-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 260px;
} */
hr {
  border-top: 1px solid white;
}
.search-btn {
  color: white;
  background-color: inherit;
  border: none;
}
.logo-name {
  font-size: 35px;
}

.card h5 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card {
  background-color: inherit;
  position: relative;
  border: none;
}
.card:hover {
  box-shadow: 5px 3px 5px grey;
}
.album-name {
  flex-grow: 1;
  padding-left: 1rem;
  font-size: 1px;
}
a {
  font-size: 15px;
  color: white;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  margin-top: 50px;
  background-color: rgb(66, 60, 72);
  padding-top: 5px;
}
footer .first-div {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 15px;
}
.second-div .second-of-second {
  display: flex;
  text-align: center;
  margin-top: 8px;
  gap: 12px;
  min-width: 380px;
  position: relative;
  right: 75px;
}
footer span {
  font-size: 11pt;
}
.third-div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 15px;
}
.second-div .first-of-second {
  display: flex;
  gap: 25px;
  margin-top: 5px;
}
.second-div .second-of-second hr {
  position: relative;
  bottom: 5px;
}
#ptag {
  margin: 0;
}
.left-menu.mb-2.search-div {
  display: flex;
}
#search-div2 {
  display: flex;
  gap: 5px;
  
}
#search-div2 .svg-check{
  border: 2px solid white;
}
.visibility-hidden {
  visibility: hidden;
}
#search-div2 .svg-check:hover {
  cursor: pointer;
}

 /* .play-btn {
  margin: 0 !important;
  width: 30px;
  height: 30px;
  background: radial-gradient( rgba(93, 220, 93, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 100px auto;
  box-shadow: 0px 0px 25px 3px rgba(93, 220, 93, 0.8);
} */

/* triangle */
 /* .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
} */
.example {
  position: relative;
  /* width: 50%; */
}
.example img {
  width: 100%;
  height: auto;
  
}

.example .mybutton {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  width: 55px;
  height: 55px;
  transition: 0.15s;
  background-color: rgb(146, 200, 65);
  border-radius: 50%;
  
  

}
.example:hover .mybutton {
opacity: 1;
}
