/** @format */
body {
  color: white;
  background: rgb(39, 39, 39);
}
.container {
  max-width: 100%;
  margin: 0, auto;
}
.arrow-icons {
  font-size: 20px;
}
.nav-buttons {
  border-radius: 20px;
}
.side-icons {
  font-size: 20px;
}
.spotify-icon {
  font-size: 35px;
}
hr {
  border-top: 1px solid white;
}
.logo-name {
  font-size: 35px;
}
.album-image {
  width: 40px;
  height: 40px;
}
.album-name {
  flex-grow: 1;
  padding-left: 1rem;
  font-size: 12px;
}
